
<!--<%= link_to "Sign up for a  new user account." , signup_path%> -->


<div id= "fcontent">
<h1 class= 'fheadertext'>My Blog</h1>

<% @blog_entries.each do |p| %>

  <h3><p><%= link_to(p.title, blog_entry_path(p.id)) %></h3>
    <p><%=p.excerpt%></p>
<% end %>

<% if current_user %>
<%= link_to("New Blog Post", new_blog_entry_path) %>
<% end %>

</div>



