<h1> Hi.</h1>
<p>
	I'm a recent University of Nebraska - Lincoln graduate with a degree in International Business and love of design and technology. Fueling late nights of creativity with an equal love of  Puerto Rican salsa music and good (or any) pizza, I am most comfortable &amp; productive in flexible small business &amp;/or startup environments. I'd love to give the longform "about me" in person. Let's get coffee... or a 
</p>
   
   
   <%= image_tag("https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/00a/252/3f88d5a.jpg", :class => "fancy_image") %>
  <br>
  <%= link_to("Home", root_path) %>