<div id = "fcontent">
<h1 class= 'fheadertext'> Hi. Here are some sentences about me.</h1>
<p>
	I'm a recent University of Nebraska - Lincoln graduate with a degree in International Business and love of design and technology. Fueling late nights of creativity with an equal love of  Puerto Rican salsa music and good (or any) pizza, I am most comfortable &amp; productive in flexible small business &amp;/or startup environments. I'd love to give the longform "about me" in person. Let's get coffee... or a 
</p>
   
</div>