<h1> Hi.
   <br>My name is Nathaniel Ruiz. 
   <br>Some people call me Nate. 
   <br>I am a human being from earth.</h1>
   
   
   <%= image_tag("https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/00a/252/3f88d5a.jpg", :class => "fancy_image") %>
  <br>
  <%= link_to("Home", root_path) %>