<div id= "fcontent">
<h1 class="fheadertext">Contact Me</h1>

<%= link_to new_contact_path, id: 'showcontactform', remote: true  do %>
<!-- <div id = 'phone_contact_item'> -->

<h2 id = 'message_contact_item'>Message Me</h2>
<% end %>



<h2 id = 'phone_contact_item'>Phone</h2>

<h2 id = 'social_contact_item'>Phone</h2>


</div>