<h1>Business + Design... fueled by late-night pizza.</h1>

<nav>
	<ul class= 'nav-ul'>
		                                                                                 
<li class="nav-li"><%= link_to("About me.", about_path, :class => "fancy_link") %>         </li>
<li class="nav-li"><%= link_to("Projects", projects_path, :class => "fancy_link") %>       </li>
<li class="nav-li"><%= link_to("Blog Posts.", blog_entries_path, :class => "fancy_link") %></li>
<li class="nav-li"><%= link_to("Contact", new_contact_path, :class => "fancy_link") %>     </li>






