$font1: 'Dosis', sans-serif;
$font2: 'Open Sans Condensed', sans-serif;

$main-gray: #616369;
$lighter-gray: #A1A1A1;
$lightest-gray:#DBDBDB ;



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
	font: 28px $font1;
	color: $main-gray;
	letter-spacing: 2px;
	text-align: center;
	
}

h2 {
	font: 22px $font1;
	color: $main-gray;
	letter-spacing: 2px;
	text-align: center;
}

a{
	font-family: $font1;
	color:$main-gray;
	font-weight: lighter;
	text-decoration: none;
	letter-spacing: .2px;
	text-transform: uppercase;
	@extend .slow-hover
}

a:hover{
  text-decoration: none;
  color: $lightest-gray;
}

p{
	font-family: $font2;
	font-size: 20px;
	color:$main-gray;
	letter-spacing: .5px;
}

input {
	margin: 10px auto;
	width: 50%;
	@extend p;
	text-align: left;
	padding-left: 20px;
	height: 30px;
	background: $lightest-gray;
	border: none;
	border-radius: 5px;
}

textarea {
	margin: 10px auto;
	border: none;
	@extend p;
	padding: 20px;
	height: 150px;
	border-radius: 10px;
	width:60%;
	background: $lightest-gray;
}

.submit{
	width: auto;
	padding: 0 10px;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.nav-li{
	list-style-type: none;
	padding: 8px 0px; 
	font-family: $font1;
	font-size: 20px;
}

.zero-out{
	margin: 0 auto;
	padding: 0 0 0 0;
}


.slow-hover{
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

body {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 2%;
}

.halfheader{
	width:100%;
	padding: 75px;
	background: url("http://nathruizduh.co/Images/NathPortHeadBg2.jpg") no-repeat;
	background-size: 100%;
	float: left;
	text-indent: -9999px;
}

.contact_item{
	float:left;
	margin:80px 41px 0 41px;
	padding-bottom: 140px;
	text-indent: -9999px;

	
}

#message_contact_item{
	width:25%;
	background: url("/mail.png") no-repeat;
	background-size: 100%;
	@extend .contact_item;
}
	
#phone_contact_item{
	width:15%;
	background: url("/nexus.png") no-repeat;
	background-size: 100%;
	@extend .contact_item;
}

#social_contact_item{
	width:25%;
	background: url("/social.png") no-repeat;
	background-size: 100%;
	@extend .contact_item;
	
}

.fheadertext{
	width: 100%;
	float: left;
	margin: 0 auto;
//	padding-bottom: 20px;	
}



.fmorelink{
	padding-bottom: 20px;
}

#fnav{
	@extend .zero-out;
	width:19%;
	float:left;
	
}

#fcontent{
	@extend .zero-out;
	float: right;
	width: 79%;
	padding: 0 10px;
	
	
}