$font1: 'Dosis', sans-serif;
$font2: 'Open Sans Condensed', sans-serif;

$main-gray: #616369;
$lighter-gray: #A1A1A1;
$lightest-gray: #CCC;




h1 {
	font: 28px $font1;
	color: $main-gray;
	letter-spacing: 2px;
}

a{
	font-family: $font1;
	color:$main-gray;
	font-weight: lighter;
	text-decoration: none;
	letter-spacing: .2px;
	text-transform: uppercase;
	@extend .slow-hover
}

a:hover{
  text-decoration: none;
  color: $lightest-gray;
}

p{
	font-family: $font2;
	font-size: 18px;
	color:$main-gray;
	letter-spacing: .5px;
}

.nav-li{
	list-style-type: none;
	padding: 8px 0px; 
	font-family: $font1;
	font-size: 20px;
}



.slow-hover{
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}


